# My Jupyter Notebook on IBM Watson Studio

Hello, my name is Condo!

I am a to-be Data Scientist!

1. Python
2. SQL
3. R
4. Julia

Hello, my name is Condo!

I am a to-be Data Scientist!

1. Pandas
2. PyTorch
3. Keras
4. Scikit-Learn

Hello, my name is Condo!

I am a to-be Data Scientist!

1. Excel
2. Tableau
3. PowerBI

Hello, my name is Condo!

I am a to-be Data Scientist!

A multiply arithmetic expression between 8 and 2 can be expressed as: `8*2 = 16`

In [1]:
8*2 + 1

17

In [2]:
def convert_min_to_hour(minutes: int):
    return minutes / 60

convert_min_to_hour(60), convert_min_to_hour(80)

(1.0, 1.3333333333333333)

Hello, my name is Condo!

I am a to-be Data Scientist!

- A bottle
- A car
- A cat

Hello, my name is Condo Huber!

My email: condo.huber@gmail.com